<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .heading{
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .passed {
            color: green;
        }
        .failed {
            color: red;
        }
    </style>
</head>
<body>
    <div ><h2 class="heading">Dashboard</h2></div>
    
    <table>
        <thead>
            <tr>
                <th>Valuation Fee Paid</th>
                <th>UK Resident</th>
                <th>Risk Rating Medium</th>
                <th>LTV</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach((data) => { %>
                <tr>
                    <td class="<%= data.isValuationFeePaid ? 'passed' : 'failed' %>">
                        <%= data.isValuationFeePaid ? 'Passed' : 'Failed' %>
                    </td>
                    <td class="<%= data.isUkResident ? 'passed' : 'failed' %>">
                        <%= data.isUkResident ? 'Passed' : 'Failed' %>
                    </td>
                    <td class="<%= data.riskRating ? 'passed' : 'failed' %>">
                        <%= data.riskRating ? 'passed' : 'failed' %>
                    </td>
                    <td class="<%= data.ltv  ? 'passed' : 'failed' %>">
                        <%= data.ltv  ? 'passed' : 'failed' %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
